* {
    margin: 0;
    padding: 0;
  }
   
  body {
    font-family: Arial, Helvetica, sans-serif;
    background: transparent;
    color: #fff;
    height: 100vh;
    line-height: 1.6;
    overflow: hidden;
  }
   
  .text3 {
    font-size: 5.5rem; 
    color: black; 
  }
   
  .container {
    width: 100%;
    height: 100%;
    overflow-y:scroll; 
    scroll-behavior:smooth;
    scroll-snap-type:y mandatory;
  }
   
  .text {
    font-size: 1.5rem;
  }
   
  .text2 {
    font-size: 1.5rem;
    color: black;
  }
   
  @media screen and (max-width: 600px) {
    ul {
      display:none ;
    }
  

  .navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 13%;
    background: rgba(0,0,0,0.7);
  }
   
  .navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
  }
   
  .navbar ul li {
    margin: 0.5%;
    padding: 2%;
  }

  .navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
  }
   
  .navbar ul li a:hover {
    color: skyblue;
  }
   
   
   
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
   
    
    scroll-snap-align: center;
  }
   
  section h1 {
    font-size: 4rem;
  }
   
   
  section#home {
    background: url('https://www.technistone.com/color-range/image-slab/Starlight%20Black_SLAB_web.jpg') no-repeat center center/cover;;
  }
   
  section#about {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Solid_white.svg/2048px-Solid_white.svg.png') no-repeat center center/cover;;
  }
   
  section#covid {
    background: url('https://pbs.twimg.com/media/ErKBfOLWMAAtMOv.jpg') no-repeat center center/cover;;
  }
   
  section#contact {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Solid_white.svg/2048px-Solid_white.svg.png') no-repeat center center/cover;;
  }
  

 /* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}


/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}